<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/scripts/Font-Awesome-3.2.1/css/font-awesome.min.css" rel="stylesheet" />
    <script src="~/scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/scripts/layer/layer.js"></script>
</head>
<body>
    <div class="navbar navbar-nav navbar-fixed-top" style="background-color:powderblue">
        <div class="container">
            <div class="navbar-header">
                @Html.ActionLinkWithImage(Url.Content("~/Images/logo01.png"), "Index", "Admin_Home")
            </div>
        </div>
    </div>
    <div class="container-fluid body-content">
        <div class="col-md-2" style="margin-top:30px">
            <div class="well" style="padding: 8px 0;">
                <ul class="nav nav-pills nav-stacked">
                    <li id="DailyWrite"><a href="/Home/DailyWrite"><i class="icon-pencil"></i>&nbsp;每日一记</a></li>
                    <li id="DailyRecord"><a href="/Home/DailyRecord"><i class="icon-align-justify"></i>&nbsp;日常记录</a></li>
                    <li id="MonthEnd"><a href="/Home/MonthEnd"><i class="icon-money"></i>&nbsp;月底结算</a></li>
                    <li id="CompanyPay"><a href="/Home_Company/CompanyPay"><i class="icon-edit"></i>&nbsp;公司交易</a></li>
                    <li id="CompanyRecord"><a href="/Home_Company/CompanyRecord"><i class="icon-strikethrough"></i>&nbsp;公司记录</a></li>
                    <li id="CompanyEnd"><a href="/Home_Company/CompanyEnd"><i class="icon-book"></i>&nbsp;公司结算</a></li>
                    <li id="EndSummary"><a href="/Summary/Index"><i class="icon-book"></i>&nbsp;月底盈利与工资发放</a></li>
                    <li id="SalaryRecord"><a href="/Summary/SalaryList"><i class="icon-book"></i>&nbsp;员工工资查看</a></li>
                    <li id="FactoryTransRecord"><a href="/Home_Factory/TransRecord"><i class="icon-book"></i>&nbsp;水厂交易查看</a></li>
                    <li id="ProductCost"><a href="/Home_ProCost/Index"><i class="icon-book"></i>&nbsp;送水成本汇总</a></li>
                    @*<li id="CustomerAccessory"><a href="/Home_Accessory/Index"><i class="icon-book"></i>&nbsp;附属产品库存</a></li>*@
                    <li id="CompanyRecordsUptonow"><a href="/Home/CompanyRecordsUptonow"><i class="icon-book"></i>&nbsp;公司销售汇总</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-10" style="padding-top:30px;padding-bottom:30px">
            @RenderBody()
        </div>
    </div>
    <div class="navbar navbar-inverse navbar-fixed-bottom" style="background-color:powderblue">
        <div class="container">
            <ul>
                @*<li>咨询热线：010-84505722</li>
                <li>地址：北京市朝阳区青年路西里2号院9号楼1层 </li>
                <li>Copyright &copy;@DateTime.Now.Year,All rights reserved版权所有 © 水递夫 技术支持北京网站建设公司企迪网 </li>*@
            </ul>
        </div>
    </div>
    <script type="text/javascript">
        $(function () {
            var flag = '@ViewBag.flag';
            if (flag != '') {
                $("#" + flag).addClass("active");
            }
        });
    </script>
</body>
</html>