@model Model.CustomerProductViewModel

@{
    ViewBag.Title = "DailyWrite";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/scripts/datetimepicker/bootstrap-datetimepicker.min.css" rel="stylesheet" />
<script src="~/scripts/layer/layer.js"></script>
<link href="~/scripts/selectivity/stylesheets/selectivity-jquery.css" rel="stylesheet" />
<script src="~/scripts/selectivity/javascripts/selectivity-jquery.js"></script>
<script>

    $(function () {
        $('#txtVisitDate').datetimepicker({
            language: 'zh',
            todayBtn: 1,
            autoclose: 1,
            todayHighlight: 1,
            minView: "month",//设置只显示到月份
            format: "yyyy-mm-dd"//日期格式
        }).on('changeDate', function (ev) {
            $(this).datetimepicker('hide');
        });

        //选择客户
        $('#selCustomer').selectivity({
            allowClear: true,
            items: JSON.parse(customerData()),
            placeholder: '请选择客户'
        }).on("change", function (obj) {
            //修改客户，送水信息清空
            clearSendInfo();
            $("input[name='CustomerId']").val(obj.value);
        });

        //选择产品
        $('#selProduct').selectivity({
            allowClear: true,
            items: JSON.parse(productData()),
            placeholder: '请选择产品'
        }).on("change",
            function (obj) {
                clearBuckets();
                $("input[name='SendProductId']").val(obj.value);
            });
    });

    function customerData() {
        @if (Model.Customers != null)
        {
            var strHtml = "[";
            foreach (var item in Model.Customers)
            {
                strHtml += "{ \"id\": \""+item.Id+"\", \"text\": \""+item.CustomerName+"\" },";
            }
            strHtml = strHtml.Substring(0, strHtml.Length - 1) + "]";
            ViewBag.Selcustomer = strHtml;
        }
        return '@Html.Raw(ViewBag.Selcustomer)';
    }

    function productData() {
        @if (Model.Products != null)
        {
            var strHtml = "[";
            foreach (var item in Model.Products)
            {
                strHtml += "{ \"id\": \""+item.Id+"\", \"text\": \""+ item.ProductName+"("+item.CostPrice + ")\" },";
            }
            strHtml = strHtml.Substring(0, strHtml.Length - 1) + "]";
            ViewBag.Selpro = strHtml;
        }
        return '@Html.Raw(ViewBag.Selpro)';
    }

    function setPro(obj) {
        alert(obj.value);
    }

    function checkInput() {
        var date = $("#txtVisitDate").val();
        if (date == '') {
            layer.alert("请选择时间");
            return false;
        }

        $("input[name='hidBuckets']").val(buckets);
    }

    var buckets = new Array();
    //添加送水信息
    function addBucketInfo() {
        var product = $("span.selectivity-single-selected-item")[1].innerText;
        var proval = $("input[name='SendProductId']").val();
        var sendBucket = $("#txtSendBucketAmount").val();
        var emptyBucket = $("#txtReceiveEmptyBucketAmount").val();
        //if (parseInt(sendBucket) <= 0 && parseInt(emptyBucket) <= 0) {
        //    layer.alert("请填写送水信息");
        //    return;
        //}
        for (var i = 0; i < buckets.length; i++) {
            if (buckets[i].indexOf(proval) != -1) {
                layer.alert("同一产品只能添加1条送水记录");
                $("#lblBucketInfo").html("");
                buckets.splice(0, buckets.length);
                return;
            }
        }

        var bucketTxt = "";
        if (parseInt(sendBucket) > 0) {
            bucketTxt += "送出" + sendBucket + "桶 ";
        } if (parseInt(emptyBucket) > 0) {
            bucketTxt += "收回" + emptyBucket + "个空桶";
        }
        var lblTxt = "【" + product + "," + bucketTxt + "】";
        $("#lblBucketInfo").append(lblTxt);
        buckets.push([proval, sendBucket, emptyBucket]);
    }

    function clearSendInfo() {
        $("#lblBucketInfo").html("");
        buckets.splice(0, buckets.length);
        clearBuckets();
    }

    //选择产品，清空送水桶数与空桶数
    function clearBuckets() {
        $("#txtSendBucketAmount").val(0);
        $("#txtReceiveEmptyBucketAmount").val(0);
    }

    function showOtherProduct() {
        var show = $("#divOther").css("display");
        $("#divOther").css('display', show == 'block' ? 'none' : 'block');

        var btn = $("#btnAddPro").text();
        $("#btnAddPro").text(btn == '添加附属产品' ? '取消添加' : '添加附属产品');
        var btnClass = $("#btnAddPro").attr('class');
        $("#btnAddPro").attr('class', btnClass == 'btn btn-success' ? 'btn btn-danger' : 'btn btn-success');
        if (btnClass.indexOf('danger') != -1) {
            $("#txtWaterDispenser").val(0);
            $("#txtWaterHolder").val(0);
            $("#txtPushPump").val(0);
        }
    }
</script>
<form class="form-horizontal" method="post" action="/Home/CreateDailyWrite" onsubmit="return checkInput();">
    <div class="panel panel-info">
        <div class="panel-heading">
            <h4 class="panel-title">添加送水信息</h4>
        </div>
        <div class="panel-body">
            <div class="form-group">
                <label class="col-md-2 control-label" for="selStaffs">选择员工</label>
                <select name="StaffId" required id="selStaffs" onchange="clearSendInfo();" class="selectpicker show-tick form-control" style="width: 130px" data-live-search="true">
                    @if (ViewBag.Staffs != null)
                    {
                        foreach (var item in ViewBag.Staffs as List<Model.Staff>)
                        {
                            <option value="@item.Id">@item.StaffName</option>
                        }
                    }
                </select>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label" for="selCustomer">选择客户</label>
                <div id="selCustomer" class="selectivity-input example-input" style="width:200px"></div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label" for="selProduct">选择产品</label>
                <div id="selProduct" class="selectivity-input example-input" style="width: 200px"></div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label" for="txtSendBucketAmount">送水桶数</label>
                <input type="number" required value="0" class="form-control col-sm-2" style="width: 200px" id="txtSendBucketAmount" name="SendBucketAmount" />&nbsp;桶
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label" for="txtReceiveEmptyBucketAmount">收回空桶</label>
                <input type="number" required value="0" class="form-control col-sm-2" style="width: 200px" id="txtReceiveEmptyBucketAmount" name="ReceiveEmptyBucketAmount" />&nbsp;桶
                <button type="button" class="btn btn-success" onclick="addBucketInfo();">添加</button>
            </div>
            @* 送水信息 *@
            <div class="form-group">
                <label class="col-md-2 control-label" for="lblBucketInfo">送水信息</label>
                <label id="lblBucketInfo" class="control-label" style="color:red"></label>
            </div>
            @* 附属产品信息:饮水机、水架子、手压泵 *@
            <button type="button" id="btnAddPro" class="btn btn-success" style="margin-left: 500px; position: absolute;" onclick="showOtherProduct();">添加附属产品</button>
            <div class="form-group" id="divOther" style="display:none">
                <div class="form-group">
                    <label class="col-md-2 control-label" for="txtWaterDispenser">饮水机</label>
                    <input type="number" required value="0" class="form-control col-sm-2" style="width: 200px" id="txtWaterDispenser" name="WaterDispenser" />&nbsp;台
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label" for="txtWaterHolder">水支架</label>
                    <input type="number" required value="0" class="form-control col-sm-2" style="width: 200px" id="txtWaterHolder" name="WaterHolder" />&nbsp;个
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label" for="txtPushPump">手压泵</label>
                    <input type="number" required value="0" class="form-control col-sm-2" style="width: 200px" id="txtPushPump" name="PushPump" />&nbsp;个
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label" for="txtEarnDeposit"><i class="icon-plus" style="color:green"></i>&nbsp;收入押金</label>
                <input type="number" value="0" class="form-control col-sm-2" style="width: 200px" id="txtEarnDeposit" name="EarnDeposit" />&nbsp;元
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label" for="txtPayDeposit"><i class="icon-minus" style="color:red"></i>&nbsp;退还押金</label>
                <input type="number" value="0" required class="form-control col-sm-2" style="width: 200px" id="txtPayDeposit" name="PayDeposit" />&nbsp;元
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label" for="txtEarnMonthEndPrice"><i class="icon-plus" style="color:green"></i>&nbsp;月底结算</label>
                <input type="number" value="0" required class="form-control col-sm-2" style="width: 200px" id="txtEarnMonthEndPrice" name="EarnMonthEndPrice" />&nbsp;元
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label" for="txtEarnWaterCardPrice"><i class="icon-plus" style="color:green"></i>&nbsp;水卡支付</label>
                <input type="number" value="0" class="form-control col-sm-2" style="width: 200px" id="txtEarnWaterCardPrice" name="EarnWaterCardPrice" />&nbsp;元
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label" for="txtVisitDate">时间</label>
                <input type="text" readonly required class="form-control" style="width: 150px" name="VisitDate" id="txtVisitDate" />
            </div>
            <div class="form-group" style="margin-left:80px">
                <input type="submit" value="保存" class="btn btn-primary" />
            </div>
            <input type="hidden" name="CustomerId" />
            <input type="hidden" name="SendProductId" />
            <input type="hidden" name="hidBuckets" />
        </div>
    </div>
</form>

<script src="~/scripts/datetimepicker/bootstrap-datetimepicker.js"></script>
<script src="~/scripts/datetimepicker/bootstrap-datetimepicker.zh-CN.js"></script>